@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

html, body, .root {
    width: 100%; height: fit-content; margin: 0; font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden; overflow-y: auto;
    a { text-decoration: none; }
    ul, li { list-style: none; }
}

@keyframes hoverColor {
    from {
        background-color: #2C81CA;
    }
    to {
        background-color: #226fb3;
    }
}



header {
    width: 100%; height: 22%; z-index: 100;
    .header-top {
        position: absolute; display: flex; justify-content: center; top: 0; width: 100%; height: 70%; background-color: white;
        .logo { height: 100%; display: flex; justify-content: center; flex-direction: column;
            a { margin-top: 20px; }
            a > img { height: 80px; }
        }
        .menu-layer {
            position: absolute; width: 100%; height: 100%;
            ul {
                position: absolute; display: flex; flex-direction: row; padding: 0; bottom: 0;
                li {
                    margin: 0 10px;
                    a { color: rgb(160, 160, 160); font-weight: 400; font-size: 18px; }
                    a:hover { color: black; }
                }
                .active-page {
                    background-color: #2C81CA; padding: 3px 10px; margin-top: 0; border-radius: 20px;
                    a { color: white; font-weight: 500; }
                    a:hover { color: #7cb1df; }
                }
                .sep { margin-bottom: 3px; color: rgb(160, 160, 160); }
            }
            .menu-1 { left: 60px; }
            .menu-2 { right: 60px; }
        }
    }
    .header-bottom {
        position: absolute;bottom: 0; width: 100%; height: 30%; background-color: #2C81CA;
        .menu-3 {
            position: absolute; width: 100%; height: 100%; display: flex; flex-direction: row; justify-content: space-around; padding: 0; margin: 0;
            li {
                margin: 0 10px; height: 100%; width: calc(100% / 5 - 10px); padding: 0 10px;
                a { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; color: white; font-weight: bolder; font-size: 20px; }
                a:hover { animation: hoverColor .1s; background-color: #226fb3; }
            }
        }
    }
}

.main-jumbotron {
    position: relative;
    margin-top: calc(11% - 1px);
    width: 100%;
    height: 739px;
    background-color: #2C81CA;
    
    .slidecontrol {
        position: absolute; width: 100%; height: 20%; bottom: 0; z-index: 4;
        .btn > div {
            position: absolute; width: 100px; height: 100px; background-color: gray; opacity: .5; top: calc(50% - 50px); border-radius: 50px;
            svg {
                width: 80%; height: 100%; fill: white !important;
            }
        }
        #back-btn { left: 20px; cursor: pointer; svg { margin-left: 5%; } }
        #next-btn { right: 20px; cursor: pointer; svg { margin-left: 15%; } }

        .statusbar > ul { 
            position: absolute; display: flex; justify-content: space-around; width: 60%; padding: 0; margin: 0 20%; bottom: 105px;
            li {
                display: flex; align-items: center; flex-direction: column;
                .dot { background-color: rgb(180, 180, 180); width: 30px; height: 30px; border-radius: 15px; cursor: pointer;}
                .text { position: absolute; font-size: 24px; font-weight: bolder; color: rgb(180, 180, 180); top: 40px;}
            }
        }
        .statusbar > span {
            position: absolute; width: 46%; height: 1px; padding: 0; margin: 0 27%; bottom: 118px; background-color: rgb(180, 180, 180);
        }
    }

    .slideshow {
        position: absolute; width: 100%; height: 100%; padding: 0; margin: 0; z-index: 1;
        li {
            position: absolute; display: none; opacity: 0; width: 100%; height: 100%;
            .content {
                position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; height: 80%; margin-bottom: 20%; opacity: 1; z-index: 3;
                .content-area {
                    position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; height: 500px; padding-left: 30px;

                    .symbol {
                        width: 200px; height: 200px; margin: 0;
                        path { fill: white; }
                    }
                    .text {
                        margin-left: 80px;
                        h1 { width: max-content; margin: 0 0 30px 0; font-size: 80px; color: white; }
                        span { width: max-content; margin: 0; font-size: 40px; font-weight: lighter; color: white; }
                        .more-btn { display: flex; justify-content: center; align-items: center; width: 100px; height: 40px; margin-top: 40px; border-radius: 25px; border: 5px solid white; color: white; font-size: 24px; font-weight: bolder; }
                    }
                }
            }
            .slide-overlay {
                position: absolute; width: 100%; height: 100%; opacity: 0.8; z-index: 2;
            }
            img { width: 100%; height: 100%; }
        }

        .slide-1 { display: block; opacity: 1;}
        .slide-1 > div {
            position: absolute; display: flex; justify-content: space-evenly; align-items: center; width: 100%; height: 90%; margin-bottom: 10%;

            .icon { width: 40%; margin-left: 100px; }
            .text > h1 { 
                margin: 0; margin-right: 100px; color: white; font-size: 100px; font-weight: lighter; 
                span{ font-weight: bolder; }
            }   
        }
    }
}

article {
    position: relative; width: 100%;

    .arti-vision {
        display: flex; justify-content: space-between; padding-top: 70px; padding-bottom: 100px;

        .left { 
            margin: 200px 60px 0 230px;
            .text-box > .title { width: max-content; font-size: 27px; font-weight: bolder; margin-top: 30px; margin-bottom: 30px;}
            .text-box > .text { width: max-content; line-height: 29px; margin-bottom: 30px; }
            .text-box > a { width: max-content; color: black; font-weight: bolder; border-bottom: 5px solid black;}
        }
        .right {
            .title {
                display: flex; align-items: center;
                .text { 
                    font-weight: bolder; font-size: 80px; margin-bottom: 20px; 
                    span { color: #2C81CA; }
                }
                .line { width: 40%; height: 10px; margin-left: 30px; background-color: black;}
            }
        }
    }
    .arti-service {
        display: flex; width: 100%; flex-direction: column; justify-content: space-around; align-items: center; background-color: rgb(248, 248, 248);
        .title {
            display: flex; flex-direction: column; justify-content: space-around; align-items: center;
            .line { width: 5px; height: 40px; background-color: black; }
            .text { font-size: 50px; font-weight: bolder; }
        }
        .main-text {
            text-align: center; font-weight: lighter; margin: 30px 0;
        }
        .img-area {
            display: flex; padding: 0; margin: 40px 0;
            li {
                position: relative;
                .img-overlay { color: white; position: absolute; display: flex; justify-content: center; align-items: center; width: 300px; height: 200px; margin: 0 10px; background-color: black; opacity: 0; }
                .img-overlay:hover {opacity: .5;}
                img { margin: 0 10px; }
            }
        }
        a {
            color: black; border-bottom: 5px solid black; margin-bottom: 70px;
        }
    }
    .arti-history {
        width: 100%;
        .table-area { 
            width: 75%; margin: 100px 12.5% 120px 12.5%;
            .table-title {
                width: 100%; font-size: 50px; font-weight: bolder; text-align: right;
                .line { width: 100%; height: 10px; margin: 20px 0 45px 0; background-color: black; }
            }
            .table-row {
                display: flex; width: 100%; margin: 0;
                .left {
                    width: 25%;
                    .text { margin-left: 20px; font-size: 30px; font-weight: bolder; }
                }
                .right {
                    width: 75%;
                    ul {
                        padding: 0; margin: 0;
                        li {
                            padding: 10px 0; border-bottom: 1px solid rgb(207, 207, 207); display: flex; justify-content: space-between; font-size: 18px;
                            .text { font-weight: lighter; }
                        }
                    }
                }
            }
        }
    }
    .arti-slogan {
        display: flex; flex-direction: column; justify-content: center; align-items: center; height: 400px; background: url(../images/layer-7@3x.jpg); background-size: cover;
        .title { font-size: 40px; margin-bottom: 40px; color: white; }
        .text { text-align: center; margin-bottom: 40px; color: white; }
        a { color: white; font-weight: bolder; border-bottom: 5px solid white; }
    }
    .arti-pre {
        display: flex; justify-content: center; width: 100%; height: max-content; margin-top: calc(11% - 1px);
    }
    .arti-contact {
        display: flex; justify-content: center; align-items: center; width: 100%; height: max-content; margin-top: calc(11% - 1px);
        .left {
            display: flex; justify-content: center; align-items: center; width: calc(50% - 2px); height: 700px;
            .map {
                .title { font-size: 50px; font-weight: bolder; }
                .addr { margin: 30px 0; }
            }
        }
        .sep {
            width: 4px; height: 300px; background-color: #2C81CA;
        }
        .right {
            display: flex; justify-content: center; align-items: center; width: calc(50% - 2px); height: 700px;
            .inquiry {
                .title { font-size: 50px; font-weight: bolder; }
                form { 
                    display: flex; flex-direction: column; justify-content: center; width: 640px; height: 564px; margin-left: 30px;
                    .name, .tel, .email { 
                        display: flex; align-items: center; font-size: 27px; width: 350px; margin: 15px 0;
                        input { margin-left: 30px; height: 100%;}
                    }
                    .text {
                        display: flex; flex-direction: column; justify-content: left; font-size: 27px; margin-top: 20px;
                        textarea { height: 220px;}
                    }
                    button {
                        font-size: 18px; margin-left: 80.5%; width: max-content; margin-top: 20px;
                    }
                }
            }
        }
    }
}

footer {
    position: relative; height: 250px; background-color: #2C81CA;
    .info { 
        position: absolute; top: 70px; left: 70px; color: rgb(212, 212, 212);
        a { color: white; }
    }
    .copyright {
        position: absolute; top: 170px; left: 70px; color: rgb(212, 212, 212);
    }
    img { position: absolute; top: calc(50% - 25px); right: 70px; }
}

.header-fix { top: 0; position: fixed; }

//.mainjumbotron-activepage { background-color: #2C81CA !important; border: 10px solid white !important; width: 30px !important; height: 30px !important; border-radius: 30px !important; }
.mainjumbotron-activedot { background-color: white !important; }
.mainjumbotron-activetext { color: white !important; }